.image-column-container {
    display: flex;
    justify-content: center;
    width: 50vh;
    
}



.bulldog-img {
    width: 50%;
    height: 50%;
}

.kitten-img {
    width: 50%;
    height: 50%;
}