body {
    margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #800080 0%, #8a2be2 20%, #9932cc 40%, #9400d3 60%, #ff7f50 100%);
  font-family: 'Arial', sans-serif;
}


.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 90vh;
    
    
}

.loginContainer {
    background-color: white;
    width: 50vh;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

}

.loginInputContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vh;

}

.loginInput {
    width: 40vh;
    height: 3vh;
    margin: 5px;
    
}

#loginButton {
    width: 41vh;
    height: 2vh;
    margin: 5px;
    background-color: rgb(0, 102, 255);
    display: flex;
    justify-content: center;
    align-items: center; 
    
}

.signUpQueryContainer {
    background-color: white;
    width: 50vh;
    font-size: 8px;
    
}

h1 {
    color: black;
}

h2 {
    color: black;
    font-family:Georgia, 'Times New Roman', Times, serif
}